appdirs==1.4.4
astroid==2.5.2
autopep8==1.5.6
backcall==0.2.0
beautifulsoup4==4.9.3
breadability==0.1.20
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cssselect==1.1.0
cssselect2==0.4.1
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.1
docopt==0.6.2
feedfinder2==0.0.4
feedparser==6.0.2
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
gunicorn==20.1.0
html5lib==1.1
idna==2.10
ipykernel==5.5.0
ipython==7.22.0
ipython-genutils==0.2.0
isort==5.8.0
itsdangerous==1.1.0
jedi==0.18.0
jieba3k==0.35.1
Jinja2==2.11.3
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
lazy-object-proxy==1.6.0
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
newspaper3k==0.2.8
nltk==3.6.1
numpy==1.20.2
parso==0.8.1
pickleshare==0.7.5
Pillow==8.2.0
pipenv==2020.11.15
prompt-toolkit==3.0.18
pycodestyle==2.7.0
pycountry==20.7.3
pycparser==2.20
Pygments==2.8.1
pylint==2.7.4
Pyphen==0.10.0
python-dateutil==2.8.1
PyYAML==5.4.1
pyzmq==22.0.3
regex==2021.4.4
requests==2.25.1
requests-file==1.5.1
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2.1
sumy==0.8.1
tinycss2==1.1.0
tinysegmenter==0.3
tldextract==3.1.0
toml==0.10.2
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
urllib3==1.26.4
uuid==1.30
virtualenv==20.4.3
virtualenv-clone==0.5.4
Wand==0.6.6
wcwidth==0.2.5
WeasyPrint==52.4
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
yapf==0.31.0
